.logo {
  // margin-right: 93px;

  font-family: raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }

  &--footer {
    display: inline-block;
    padding: 0;
    color: $primary-bg-color;

    @media screen and (min-width: 1200px) {
      padding-top: 60px;
    }
  }
}

/* оформление спана в логотипе */

.logo__span {
  color: $accent-color;
}
