.team {
  background-color: $secondary-bg-color;
}

.team__cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin: -15px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    margin: 0px;
  }
}

.team__card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    width: 100%;
    max-width: 450px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

/* заголовок секции team */

.team__title {
  color: $secondary-text-color;
  text-align: center;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

/* заголовок h3 секции team */

.team__name {
  margin-top: 30px;
  color: $secondary-text-color;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}

/* абзац секции team */
.team__text {
  margin-top: 10px;
  margin-bottom: 16px;

  text-align: center;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
